# Your Naukri account credentials
NAUKRI_EMAIL=your_email@example.com
NAUKRI_PASSWORD=your_password


# Optional: Configure cron schedule (Defaults to 09:00 and 21:00)
# CRON_SCHEDULE="0 9,21 * * *"

# Dashboard Auth
DASHBOARD_PASSWORD=your_secure_dashboard_password

# Optional: Run browser in headful mode for debugging (true/false)
HEADLESS_BROWSER=false
